<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add paper</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <h1 class="d-flex justify-content-center mb-4">
        Add paper
    </h1>

    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    <form action="/add" method="POST" class="form-control" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN:</label>
            <input class="form-control" name="isbn" type="text" required>
        </div>
        <div class="mb-3">
            <label for="paperTitle" class="form-label">Title:</label>
            <input class="form-control" name="paperTitle" type="text" required>
        </div>
        <div class="mb-3">
            <label for="authors" class="form-label">Authors:</label>
            <input class="form-control" name="authors" type="text" required>
        </div>
        <div class="mb-3">
            <label for="pages" class="form-label">Pages:</label>
            <input class="form-control" name="pages" type="number">
        </div>

        <div class="mb-3">
            <label for="file" class="form-label">Paper Image: </label>
            <input type="file" class="form-control" name="file" accept="image/*">
        </div>

        <button type="submit" class="btn btn-primary">
            Add Paper
        </button>

    </form>
</body>

</html>